* {
    font-size: calc(10px + 0.5vw);
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border: 1px solid red;
    padding:50px;
    gap:25px;
}

form{
    align-items: center;
    text-align: center;
}

input{
    align-items: center;
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.condition{
    font-size: 3rem;
}

.temperature{
    font-size: 2rem;
}

img{
    height:5rem;
    width: 5rem;
}

.feels-like,.humidity,.wind-speed{
    font-size: 0.9rem;
}

.left-box, .right-box{
    display: flex;
    flex-direction: column;
    border:1px solid green;
    justify-content: center;
    gap:2px;
}