* {
    font-size: calc(10px + 0.5vw);
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    letter-spacing: 1px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    padding:50px;
    gap:25px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
}

form{
    align-items: center;
    text-align: center;
}

input{
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 1px 1px rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
}

.content{
    display: flex;
    justify-content: space-between;
}

.condition{
    font-size: 3rem;
}

.temperature{
    font-size: 2rem;
}

img{
    height:3rem;
    width: 3rem;
}

.feels-like,.humidity,.wind-speed{
    font-size: 0.9rem;
}

.left-box, .right-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap:2px;
}